:root{
    --cor-principal: #ffffff;
    --cor-secundaria: #70d300;
    --botao-azul: #060692f3;
    --cor-fundo: #10ddaa;
}
body{
    background-color: var(--cor-fundo);
    

}
.pricipal{
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;

}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 505;
}
.container__botao{
    background-color: #060692f3;
    border-radius: 5px;
    padding: 1em;
    color:  #ffffff;
    display: block;
}
.container__botao2{
    background-color: transparent;
    border: 2px solid white;
}